<p>Hi Admin, </p><br>
User with 
<%= @contact.name %>
<%= @contact.email %>
<%= @contact.phone_no %>
 wants to contact you and has send you a request.
the details are :


<%= @contact.message %>

<p>Thank You</p>
